<div class="row align-items-center justify-content-center all-screen">
    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">
        <h5>Zarejestruj się</h5>
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="id">Id:</label>
                <input name="id" type="text" class="form-control form-control-sm" id="id"
                    placeholder="Id" [(ngModel)]="user.id" required>
            </div>
            <div class="form-group row">
                <label for="firstName">Imie:</label>
                <input name="firstName" type="text" class="form-control form-control-sm" id="firstName"
                    placeholder="Imie" [(ngModel)]="user.firstName" required>
            </div>
            <div class="form-group row">
                <label for="lastName">Nazwisko:</label>
                <input name="emlastNameail" type="text" class="form-control form-control-sm" id="lastName"
                    placeholder="Nazwisko" [(ngModel)]="user.lastName" required>
            </div>
            <div class="form-group row">
                <label for="role">Rola:</label>
                <input name="role" type="text" class="form-control form-control-sm" id="role"
                    placeholder="Rola" [(ngModel)]="user.role" required>
            </div>
            <div class="form-group row">
                <label for="email">Email:</label>
                <input name="email" type="text" class="form-control form-control-sm" id="email"
                    placeholder="Email" [(ngModel)]="user.email" required>
            </div>
            <div class="form-group row">
                <label for="password">Hasło:</label>
                <input name="password" type="password" class="form-control form-control-sm" id="password"
                    placeholder="Hasło" [(ngModel)]="user.password" required>
            </div>
            <div class="form-group row">
                <button class="btn btn-success btn-sm" type="submit">Zarejestruj się</button>
            </div>
        </form>
    </div>
</div>