<table>
    <thead>
        <th>Imie</th>
        <th>Nazwisko</th>
        <th>Rola</th>
    </thead>
    <tbody>
        <tr *ngFor="let u of test">
            <td>{{u.firstName}}</td>
            <td>{{u.lastName}}</td>
            <td>{{u.role}}</td>
        </tr>
    </tbody>
<<<<<<< HEAD
</table>
=======
</table>
>>>>>>> login
