<div class="row justify-content-center">
    <div class="col-11">
        <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
            <div class="form-group row">
                <label for="name">Nazwa:</label>
                <input name="name" type="text" class="form-control form-control-sm" id="name"
                    placeholder="Nazwa" [(ngModel)]="meeting.meetingName" required>
            </div>
            <div class="form-group row">
                <label for="startTime">Godzina rozpoczęcia:</label>
                <input name="startTime" type="datetime-local" class="form-control form-control-sm" id="startTime"
                    placeholder="Godzina rozpoczęcia" [(ngModel)]="meeting.startDateTime" required>
            </div>
            <div class="form-group row">
                <label for="endTime">Godzina zakończenia:</label>
                <input name="endTime" type="datetime-local" class="form-control form-control-sm" id="endTime"
                    placeholder="Godzina zakończenia" [(ngModel)]="meeting.endDateTime" required>
            </div>
            <div class="form-group row">
                <button class="btn btn-success btn-sm" type="submit">Dodaj spotkanie</button>
            </div>
        </form>
    </div>
</div>