<table>
    <thead>
        <th>ID Sprintu</th>
        <th>Nazwa spotkania</th>
        <th>Członkowie: </th>
        <th>Rozpoczęcie spotkania: </th>
        <th>Planowany czas spotkania: </th>
    </thead>
    <tbody>
        <tr *ngFor="let m of test">
            <td>{{m.sprintId}}</td>
            <td>{{m.meetingName}}</td>
            <td>{{m.members}}</td>
            <td>{{m.startDateTime}}</td>
            <td>{{m.endDateTime}}</td>
        </tr>
    </tbody>
</table>