<div class="margin">
    <button class="btn btn-sm btn-success" style="margin-bottom: 10px; margin-right: 10px;" value="Dodaj sprint" (click)="add()">Dodaj sprint</button>
    <button class="btn btn-sm btn-danger" style="margin-bottom: 10px;" value="Usun sprint" (click)="del()">Usun sprint</button>
    <br/>
    <app-sprints-table-component class="margin"
        [sprints]="sprints"
        (selected)="selected($event)">
    </app-sprints-table-component>
    <div class="row">
        <div class="col-sm-3" style="border-right: 1px grey dashed;">
            <app-sprints-details-component
            [sprint]="selectedSprint"
            (save)="save($event)">
            </app-sprints-details-component>
        </div>
        <div class="col-sm-9">
            <app-meetings-container
            [teamId]="teamId"
            [sprintId]="selectedSprint.id">
                
            </app-meetings-container>
        </div>
    </div>
</div>