<div class="row align-items-center justify-content-center all-screen">
    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">
        <h5>Stwórz nowy zespół</h5>
        <div class="form-group row">
            <label for="team">Nazwa zespołu:</label>
            <input name="team" type="text" class="form-control form-control-sm" id="team" [(ngModel)]="team.teamName"
                required>

            <label>Członkowie zespołu:</label>
        </div>
        <ul>
            <li *ngFor="let him of listOfMembers | keyvalue">
                {{him.key}} --> {{him.value}} <button (click)="deleteMe(him.key, him.value)"> X </button>
            </li>
        </ul>
        <div class="form-group row">
            <input name="member" type="text" id="member" class="form-control form-control-sm" [(ngModel)]="member">
            <select id = "role" [(ngModel)]="role">
                <option value="Developer">Developer</option>
<<<<<<< HEAD
                <option value="Product Owner">Product Owner</option>
=======
                <option value="ProductOwner">Product Owner</option>
>>>>>>> login
            </select>
        </div>
        <div class="form-group row">
            <button class="btn btn-success btn-sm" (click)="addMember()">Dodaj członka zepołu</button>
        </div>
        <div class="form-group row">
            <button class="btn btn-success btn-sm" (click)="onSubmit()">Stwórz zespół</button>
        </div>

    </div>
</div>