<div class="margin">
    <button class="btn btn-sm btn-success" style="margin-bottom: 10px; margin-right: 10px;" value="Stwórz zespół" (click)="create()">Stwórz zespół</button>
    <button class="btn btn-sm btn-danger" style="margin-bottom: 10px;" value="Opuść zespół" (click)="leave()">Opuść zespół</button>
    <br/>
    <app-teams-table-component class="margin"
        [teams]="teams"
        (selected)="selected($event)">
    </app-teams-table-component>
    <app-teams-details-component
    [team]="selectedTeam"
    (save)="save($event)">
    </app-teams-details-component>
</div>