<div class="row align-items-center justify-content-center all-screen">
    <div class="col-lg-2 col-md-4 cos-sm-6 col-10">
        <div class="form-group row">
            <h5>{{team.teamName}}:</h5>
            <input name="newMember" type="text" id="newMember" class="form-control form-control-sm" [(ngModel)]="member">
            <select id = "role" [(ngModel)]="role">
                <option value="Developer">Developer</option>
                <option value="Product Owner">Product Owner</option>
            </select>
        </div>
            <div class="form-group row">
                <button class="btn btn-success btn-sm" (click)="addMember()">Dodaj członka zepołu</button>
        </div>
        <div class="form-group row">
            <ul>
                <li *ngFor="let member of listOfMembers | keyvalue">
                    {{member.key}}
                    <select>
                        <div *ngIf="member.value === 'Product Owner'; then owner; else develop">
                            <option value="Product Owner" selected>Product Owner</option>
                            <option value="Developer">Developer</option>
                        </div>
                    </select>

                    <ng-template #develop>
                        <option value="Product Owner">Product Owner</option>
                        <option value="Developer" selected>Developer</option>
                    </ng-template>

                    <ng-template #owner>
                        <option value="Product Owner" selected>Product Owner</option>
                        <option value="Developer">Developer</option>
                    </ng-template>

                    <button  (click)="deleteMe(member.key, member.value)"> X </button>
                </li>
            </ul>
            <button class="btn btn-success btn-sm" (click)="submit">Potwierdź zmiany</button>
            <label>   </label>
            <button class="btn btn-success btn-sm" (click)="deleteTeam">Usuń zespół</button>
        </div>
    </div>
</div>