<ejs-grid #grid [dataSource]='teams' [allowPaging]="true" [allowSorting]="true" (rowSelected)="select()">
    <e-columns>
        <e-column field='teamName' headerText='Nazwa' width='120'></e-column>
    </e-columns>
    </ejs-grid>