<ejs-grid #grid [dataSource]='sprints' [allowPaging]="true" [allowSorting]="true" (rowSelected)="select()">
    <e-columns>
        <e-column field='sprintName' headerText='Nazwa' width='120'></e-column>
        <e-column field='goal' headerText='Goal' width='120'></e-column>
        <e-column field='startDate' headerText='Data Rozpoczęcia' width='120'></e-column>
        <e-column field='endDate' headerText='Data zakończenia' width='120'></e-column>
    </e-columns>
    </ejs-grid>