<ejs-grid #grid [dataSource]='meetings' [allowPaging]="true" [allowSorting]="true" (rowSelected)="select()">
    <e-columns>
        <e-column field='meetingName' headerText='Nazwa' width='120'></e-column>
        <e-column field='startDateTime' headerText='Czas Rozpoczęcia' width='90'></e-column>
    </e-columns>
</ejs-grid>